@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #f9f8f8;
  --foreground: #fffefe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: #c6dbda;
    --foreground: #f8fafc;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
